@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: light) {
  /*:root {*/
  /*  --foreground-rgb: 0, 0, 0;*/
  /*  --background-start-rgb: 255, 255, 255;*/
  /*  --background-end-rgb: 0, 0, 0;*/
  /*}*/
}

body {
  /*color: rgb(var(--foreground-rgb));*/
  /*background: linear-gradient(*/
  /*    to bottom,*/
  /*    transparent,*/
  /*    rgb(var(--background-end-rgb))*/
  /*  )*/
  /*  rgb(var(--background-start-rgb));*/
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
    color: transparent;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
    color: transparent;

  }
}
